%%% See https://github.com/rebar/rebar/blob/master/rebar.config.sample
%%% See https://github.com/rebar/rebar/wiki/Rebar-commands

%% EDoc options
{edoc_opts, [{hidden, false}, {private, false}, {todo, true}]}.


%% Options for eunit:test()
{eunit_opts, []}. % possible parameter: verbose

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.
